<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ExcelDataSection" type="Incidents.ExcelDataSection, Incidents"/>
    <section name="DateDataSection" type="Incidents.DateDataSection, Incidents"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <ExcelDataSection>
    <RegionPaths>
      <add name="МогРайон" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\МогРайон\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="702" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\702\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="725" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\725\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="704" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\704\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="705" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\705\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="706" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\706\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="707" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\707\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="708" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\708\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="709" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\709\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="711" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\711\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="712" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\712\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="713" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\713\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="714" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\714\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="715" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\715\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="717" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\717\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="718" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\718\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="719" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\719\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="721" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\721\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="722" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\722\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="723" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\723\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="724" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\724\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="703" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\703\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="МогГород" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\МогГород\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="ГФУ" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\ГФУ\Инциденты\Журнал инцидентов.xlsx"/>
      <add name="ГУ" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\МогГУ\Инциденты\Журнал инцидентов.xlsx"/>
    </RegionPaths>
    <Template>
      <add name="Template1" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\_Templates\template1.xlsx"/>
      <add name="Template2" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\_Templates\template2.xlsx"/>
    </Template>
    <Email>
      <add name="Email1" email="mgl15@gkmogilev.minfin.by"/>
    </Email>
    <Archive>
      <add name="ArchiveDirPath" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\_Archive\"/>
      <add name="LoggerPath" path="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Инциденты\Test_dirs\_REGIONSTEST\_Log\"/>
    </Archive>
  </ExcelDataSection>
  <DateDataSection>
    <NotWorkingDays>
      <add name="Новый год" date="2018, 01, 01"/>
      <add name="Новый год 1" date="2018, 01, 02"/>
      <add name="Март 8" date="2018, 03, 08"/>
      <add name="Март 8 1" date="2018, 03, 09"/>
      <add name="Апрель" date="2018, 04, 16"/>
      <add name="Апрель 1" date="2018, 04, 17"/>
      <add name="Апрель 2" date="2018, 04, 30"/>
      <add name="Май" date="2018, 05, 01"/>
      <add name="Май 1" date="2018, 05, 09"/>
      <add name="Июль" date="2018, 07, 02"/>
      <add name="Июль 1" date="2018, 07, 03"/>
      <add name="Ноябрь" date="2018, 11, 07"/>
      <add name="Декабрь" date="2018, 12, 24"/>
      <add name="Декабрь 1" date="2018, 12, 25"/>
      <add name="Декабрь 2" date="2018, 12, 31"/>
    </NotWorkingDays>
    <WorkingDays>
      <add name="Новый год перенос" date="2018, 01, 20"/>
      <add name="Март перенос" date="2018, 03, 03"/>
      <add name="Апрель перенос" date="2018, 04, 14"/>
      <add name="Апрель перенос 1" date="2018, 04, 28"/>
      <add name="Июль перенос" date="2018, 07, 07"/>
      <add name="Декабрь перенос" date="2018, 12, 22"/>
      <add name="Декабрь перенос 1" date="2018, 12, 29"/>
    </WorkingDays>
  </DateDataSection>
</configuration>